<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Planeta</title>
    <!-- O nome do arquivo CSS no link deve ser 'styles.css' se você estiver usando o último arquivo que corrigimos. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about-planet.css') }}">
</head>
<body>
    <div class="side">
        <img class="genesis-logo">
            <a href="{{ url_for('homepage') }}">
            </a>
        </img>
    </div>
    <div class="content">
        <div class="navbar_content">
    <a href="https://github.com/HandreyGama/Genesis" class="link-menu">Projeto</a>
    <a href="{{ url_for('planetas') }}" class="link-menu">Planetas</a>
    <a href="{{ url_for('espaco') }}" class="link-menu">Espaço</a>
    <a href="{{ url_for('homepage') }}" class="link-menu">Home</a>>
        </div>
        <div class="conteudo_content">
             <!-- Conteúdo principal da página (planetas, etc.) -->
            <div class="planet">
                <img src="{{ url_for('static', filename='img/planets/' ~ planeta_changed.nome_planeta ~ '.png') }}" alt="{{ planeta_changed.nome_planeta }}">
            </div>
            <div class="sobre">
                <p class="p-ia">
                    {{ resposta_ia|safe}}
                </p>
            </div>
            <div class="input-chat-ia">
                <input placeholder="Pergunte algo sobre o planeta">
            </div>
        </div>

    </div>
</body>
</html>
