<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Planeta</title>
    <!-- O nome do arquivo CSS no link deve ser 'styles.css' se você estiver usando o último arquivo que corrigimos. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about-planet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="side">
        <img class="genesis-logo">
            <a href="{{ url_for('homepage') }}">
            </a>
        </img>
    </div>
    <div class="content">
        <div class="navbar_content">
    <a href="#projeto" class="link-menu">Projeto</a>
    <a href="#planetas" class="link-menu">Planetas</a>
    <a href="#espaco" class="link-menu">Espaço</a>
    <a href="#home" class="link-menu">Home</a>>
        </div>
        <div class="conteudo_content">
             <!-- Conteúdo principal da página (planetas, etc.) -->
            <div class="planet">
                <img src="{{ url_for('static', filename='img/planets/' ~ planeta_changed.nome_planeta ~ '.png') }}" alt="{{ planeta_changed.nome_planeta }}">
            </div>
            <div class="sobre">
                <h1 class="label_planet">{{planeta_changed.nome_planeta}}</h1>
                <p class="p-ia">
                    {{ resposta_ia|safe}}
                </p>
            </div>
        </div>
    </div>
</body>
</html>

